<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:de.nmo.eclipse.ui.games">
         <command
               commandId="de.nmo.eclipse.ui.games.coffeehunter.command"
               label="Coffee Hunter"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.nmo.eclipse.ui.games.coffeehunter.rcp.OpenGame"
            id="de.nmo.eclipse.ui.games.coffeehunter.command"
            name="Coffee Hunter">
      </command>
   </extension>

</plugin>
