<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.nmo.eclipse.ui.perspectivecontext.context" name="Context" schema="schema/de.nmo.eclipse.ui.perspectivecontext.context.exsd"/>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?before=PerspectiveSwitcher">
         <toolbar
               id="de.nmo.eclipse.ui.perpectivecontext.toolbar">
            <command
                  commandId="de.nmo.eclipse.ui.perspectivecontext.context.main"
                  icon="icons/perspective_list.png"
                  id="de.nmo.eclipse.ui.perspectivecontext.context.main.switch"
                  style="pulldown"
                  tooltip="%command.context.tooltip">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="menu:de.nmo.eclipse.ui.perspectivecontext.context.main.switch">
         <dynamic
               class="de.nmo.eclipse.ui.perspectivecontext.menu.DynamicContributionItem"
               id="de.nmo.eclipse.ui.perpectivecontext.dynamic">
         </dynamic>
         <separator
               name="de.nmo.eclipse.ui.perpectivecontext.separator"
               visible="true">
         </separator>
         <command
               commandId="de.nmo.eclipse.ui.perpectivecontext.createcontext"
               icon="icons/perspective_add.png"
               label="%command.configure_context.label"
               style="push">
         </command>
         <command
               commandId="de.nmo.eclipse.ui.perpectivecontext.refreshperspective"
               icon="icons/refresh.png"
               label="%command.reset_perspective.label"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.nmo.eclipse.ui.perspectivecontext.menu.ContextCommand"
            id="de.nmo.eclipse.ui.perspectivecontext.context.main"
            name="%command.context.name">
      </command>
      <command
            defaultHandler="de.nmo.eclipse.ui.perspectivecontext.menu.CreateContextHandler"
            id="de.nmo.eclipse.ui.perpectivecontext.createcontext"
            name="%command.configure_context.name">
      </command>
      <command
            defaultHandler="de.nmo.eclipse.ui.perspectivecontext.menu.RefreshPerspectiveHandler"
            id="de.nmo.eclipse.ui.perpectivecontext.refreshperspective"
            name="%command.reset_perspective.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ui.preferencePages.Workbench"
            class="de.nmo.eclipse.ui.perspectivecontext.preferences.PerspectiveContextPreferencePage"
            id="de.nmo.eclipse.ui.perpectivecontext.contextpage"
            name="%page.perspective_context.name">
      </page>
   </extension>

</plugin>
